


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
  font-family: 'Roboto Mono', monospace;
}

body{
 background: whitesmoke;

 margin: 0;

 place-items: center;
 min-width: 320px;
 min-height: 100vh;
}
h1{
  cursor: pointer;
}
li{
 list-style: none;
 cursor: pointer;
 position: relative;
}

li:hover::before{
 position: absolute;
 content: '';
 height: 4px;
 width: 100%;
 background: #2a68ff;
 right: 0;
 bottom: -9px;
 color: #2a68ff;
}

.icon{
 cursor: pointer;
}

.card{
 background:url(/src/assets/work.jpg);
}


